<div class="row" id="notice">
  <div class="text-success col-md-12"><%= notice %></div>
</div>
<div class="row">
  <h1 class="col-md-12"><%= I18n.t('view.INDEX') %></h1>
</div>
<%= render 'list', task: @tasks %>
